<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioFiles</key>
	<array>
		<string>Audio Files/audio_1.flac</string>
	</array>
	<key>BeatsPerMinute</key>
	<real>138</real>
	<key>FrameRateIndex</key>
	<integer>1</integer>
	<key>HasARAPlugins</key>
	<false/>
	<key>HasGrid</key>
	<false/>
	<key>ImpulsResponsesFiles</key>
	<array/>
	<key>NumberOfTracks</key>
	<integer>8</integer>
	<key>PlaybackFiles</key>
	<array/>
	<key>QuicksamplerFiles</key>
	<array/>
	<key>SampleRate</key>
	<integer>48000</integer>
	<key>SamplerInstrumentsFiles</key>
	<array>
		<string>/Library/Application Support/Logic/EXS Factory Samples/Studio Piano/Studio Grand Piano/Studio Grand Piano (One Mic)_2_consolidated.caf</string>
		<string>/Library/Application Support/Logic/Sampler Instruments/z_Internal/Studio Bass/Classic Bass Finger.exs</string>
		<string>${CONTENT_iOS:Logic Pro Library.bundle}/Plug-In Settings/Sampler/z_Internal/Drum Kit Designer/Drum Kit Designer Cowbell/Stereo/AP v1 Cowbell.exs</string>
		<string>${CONTENT_iOS:Logic Pro Library.bundle}/Plug-In Settings/Sampler/z_Internal/Drum Kit Designer/Drum Kit Designer Sticks/Stereo/AP v1 Sticks.exs</string>
		<string>/Library/Application Support/Logic/EXS Factory Samples/Studio Bass/Classic Bass/Classic Bass Finger Pt1_consolidated.caf</string>
		<string>${CONTENT_iOS:Logic Pro Library.bundle}/Plug-In Settings/Sampler/z_Internal/Drum Kit Designer/Drum Kit Designer Shaker/Stereo/AP v3 Shaker.exs</string>
		<string>/Library/Application Support/Logic/Sampler Instruments/z_Internal/Studio Piano/Studio Grand Piano (One Mic).exs</string>
		<string>/Library/Application Support/Logic/EXS Factory Samples/Studio Bass/Classic Bass/Classic Bass Pt2_consolidated.caf</string>
		<string>${CONTENT_iOS:Logic Pro Library.bundle}/Plug-In Settings/Sampler/z_Internal/Drum Kit Designer/Drum Kit Designer Tambourine/Stereo/AP v3 Tambourine.exs</string>
		<string>${CONTENT_iOS:Logic Pro Library.bundle}/Plug-In Settings/Sampler/z_Internal/Drum Kit Designer/Drum Kit Designer/Stereo v2/SoCal Kit v2.exs</string>
		<string>${CONTENT_iOS:Logic Pro Library.bundle}/Plug-In Settings/Sampler/z_Internal/Drum Kit Designer/Drum Kit Designer Claps/Stereo/AP v1 Claps.exs</string>
		<string>/Library/Application Support/Logic/EXS Factory Samples/Studio Piano/Studio Grand Piano/Studio Grand Piano (One Mic)_consolidated.caf</string>
	</array>
	<key>SignatureKey</key>
	<integer>7</integer>
	<key>SongGenderKey</key>
	<string>major</string>
	<key>SongKey</key>
	<string>C</string>
	<key>SongSignatureDenominator</key>
	<integer>4</integer>
	<key>SongSignatureNumerator</key>
	<integer>4</integer>
	<key>SurroundFormatIndex</key>
	<integer>5</integer>
	<key>SurroundModeIndex</key>
	<integer>0</integer>
	<key>UltrabeatFiles</key>
	<array/>
	<key>UnusedAudioFiles</key>
	<array>
		<string>Audio Files/audio.flac</string>
	</array>
	<key>Version</key>
	<integer>3</integer>
	<key>isTimeCodeBased</key>
	<false/>
</dict>
</plist>
